body {
    /* background-color: lightgray;
    color: black; */
    font-size: 18px;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: darkred;
}

nav {
    background-color: black;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
}       

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

section {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border: 2px solid black;
}

form {
    padding: 10px;
}

input, textarea {
    background-color: white;
    border: 1px solid gray;
}

button, input[type="submit"] {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 5px;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}

button:hover, input[type="submit"]:hover {
    background-color: darkgreen;
    cursor: pointer;
}
